
body {
    margin:0 auto;text-align:center; width:960px;
    background-color:#F5EEDC;
    font-family: 'Hubballi', cursive;
    ;
}

h1,h2,a {
    color: #ffe1e1;
    font-family: 'Hubballi', cursive;
    }
article {
    color: #05595B;
}
   